@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monoton&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bebas Neue';
  font-family: 'Monoton';
  font-weight: bold;
  font-size: 25px;
}

body {
  background-color: chartreuse;
}
